./node_modules/
./package-lock.json
./compile/
game-02/node_modules/
game-01/node_modules/
game-02/.node_modules/
game-01/.node_modules/
.DS_Store
.idea
node_modules
typings
game-02/app/**/*.js
game-02/app/**/*.js.map
game-02/test/**/*.js
game-02/test/**/*.js.map
coverage
.nyc_output
